[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
fastapi = {extras = ["all"], version = "*"}
requests = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
i = "*"

[dev-packages]

[requires]
python_version = "3.9"
